<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ergo.ppe_android11">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfilActivity"
            android:label="@string/title_activity_profil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CoachingActivity"
            android:label="@string/title_activity_coaching"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BilansActivity"
            android:label="@string/title_activity_bilans"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ParametresActivity"
            android:label="@string/title_activity_parametres"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InscriptionActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TempsReelActivity"
            android:label="@string/title_activity_temps_reel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EvolutionActivity"
            android:label="@string/title_activity_evolution"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>